WEATHER_API_KEY=
OPENAI_API_KEY=
DISCORD_BOT_TOKEN=
GEMENI_API_KEY=
SCAN_API_KEY=
EMAIL=
PASSWORD=
sun_api_key=
YOUTUBE_API_KEY=
weather_api=
train_timetable_api=
train_arrivals_api=
busan_train_arrivals_api=
ex_api=