__pycache__
commands/__pycache__
backups
.env
.venv
attendance.json
audit_logs.txt
auto_verify.txt
blocked_users.json
command_blocked_user.json
exp.json
garlicbot.db
geckodriver.exe
likeability.json
mentions.json
personal_warn_settings.json
railwaybot.db
soMyungGeoBuList.txt
suggestions.json
ticket_message_id.txt
warnings.json
기밀메시지.txt
all_words.txt
lanuchsite.py
main_temp.py